/***********Variables*************/

/****In Aviva framework - this is yellow #FFD900****/
$primary-colour: purple;

/****In Aviva framework - this is blue #004FB6****/
$secondary-colour: pink;

/****In Aviva framework - this is green #35821f****/
$affirmation-colour: red;